<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link REL="SHORTCUT ICON" HREF="../img/Mega_logo.png"></link>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="/css/sidebar-style.css"></link>
 <link href="../css/welcomecurrent.css" rel="stylesheet"></link>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script   type="text/javascript" src="../js/epr_table.js"></script>
		<script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div id="page-wrapper">
	
		<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/"> <img alt="Brand"
						src="../img/Mega_logo.png"
						style="max-width: 100px; margin-top: -16px; margin-left: -16px; height: 52px;"></img>
					</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
       
        
      </ul>
       <a href="/landingpage"><input id="previousyear" type="button" class="btn btn-success navbar-btn"  value="Home" ></input></a>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Admin</a></li>
      </ul>
      
            
    </div>
  </div>
</nav>
		
	</div>
<div id="myicons" class="container-fluid bg-3 text-center">    
	  <div class="row">
	    <div class="col-sm-3">
	      
	      <p id="imageLabe" style="width:100%">EPR Tables</p>
	      <a href="/tables_quarters">
	      <img src="./img/icons/table2_view.png" class="img-circle" style="width:80%;height:252px" alt="Image"></img>
	      </a>
	    </div>
	    <div class="col-sm-3"> 
	      
	      <p id="imageLabe" style="width:100%">EPR Graphs</p>
	      <a href="/graphs_quarters">
	      <img src="./img/icons/chart2_column.jpg" class="img-circle" style="width:80%;height:252px" alt="Image"></img>
	      </a>
	    </div>
	    <!-- <div class="col-sm-3"> 
	          
	      <p id="imageLabe" style="width:100%">EPR Maps</p>
	      <a href="/epr_maps">	
	      <img src="./img/icons/location_pin2.png" class="img-circle" style="width:80% ;height: 250px" alt="Image"></img>
	      </a>
	    </div> -->
	    
	  </div>
</div>

	<footer class="container-fluid">
		<center>
			<p>www.mega.gov.za</p>
		</center>
	</footer>
</body>

</html>

<script>

</script>